@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 0px 10px 0px 10px;
  background: #f2f2f2 !important;
  border: none;
  border-radius: 0;
  margin-bottom: 5px;
}

.tableborder-none {
  border-bottom: 0px !important;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.navbar-center {
  width: 100%;

  text-align: center;
  margin-block: auto;
}

.table-wrapper {
  max-height: 300px;
  overflow: auto;
  
}

span {
  color: #595959;
}

#instancePage span[contenteditable]:empty:focus::before,
span[contenteditable]:empty::before{
content: '-';
pointer-events: none;
}

th {
  font-weight: 500 !important;
}

#box-header span {
  color: black;
}

.clear{
    clear:both;
}

.border-left {
  border-bottom: 0.15rem solid #2c3e50 !important;
}