{% extends "aws/aws_base.html" %} {% block nav_s3 %}active{% endblock %} {%
block title %}iMonitor - S3{% endblock %} {% block navTitle %}S3{% endblock %}
{% block content %}

<!-- <h1>Simple Storage Service (S3)</h1> -->
<!-- <ul>
{% for bucket in response['Buckets'] %}
    <li>{{ bucket.CreationDate }}1</li>
    <li>{{ bucket.Name}}2</li>
    
{% endfor %} 
</ul> -->
<!-- {{ response }} -->
<div class="row">
  <div class="col-sm">
    <div class="card text-center border-0 shadow-sm mb-4 h-80">
      <div class="card-body">
        <h5 class="card-title">Total Buckets</h5>
        <h1 class="display-6">{{response['Buckets']|length}}</h1>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-center border-0 shadow-sm mb-4 h-80">
      <div class="card-body">
        <h5 class="card-title">Total Object Count</h5>
        <h1 class="display-6">
          {% for item in size_count:%} {{item['total_object']}}{% endfor %}
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-center border-0 shadow-sm mb-4 h-80">
      <div class="card-body">
        <h5 class="card-title">Total Storage Size</h5>
        <h1 class="display-6">
          {% for item in size_count:%} {{item['total_size']}}{% endfor %}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="card text-center border-0 shadow-sm mb-4">
  <div class="card-body p-0">
    <div class="table-responsive table-wrapper">
      <table
        class="table table-nowrap mb-0 rounded table-hover"
        style="vertical-align: middle">
        <thead class="table-dark">
          <th class="border-0 rounded-start">Bucket Name</th>
          <th class="border-0 rounded-end">Creation Date</th>
        </thead>

        {%for bucket in response['Buckets']%}
        <tr>
          <td>
            <form action="{{ url_for('s3_bucket_data')}}" method="POST">
              <input
                type="hidden"
                name="bucketName"
                value="{{ bucket.Name }}"
              />
              <button
                type="submit"
                class="btn btn-link"
                style="color: #0dcaf0"
              >
                {{bucket.Name}}
              </button>
            </form>          
          </td>
          <td>{{bucket.CreationDate.strftime("%d-%m-%Y, %H:%M:%S")}}</td>
        </tr>
        {%endfor%}
      </table>
    </div>
  </div>
</div>

<div class="row">
<div class="col-sm-6">
  <div class="card border-0 shadow-sm mb-4 px-1">
    <img
      src="data:image/png;base64,{{img_BSB}}"
      alt="s3_BSB Graph"
    />
  </div>
</div>
<div class="col-sm-6">
  <div class="card border-0 shadow-sm mb-4 px-1">
    <img
      src="data:image/png;base64,{{img_NOO}}"
      alt="s3_NOO Graph"
    />
  </div>
</div>
</div>
</script>

{% endblock content %}
