{% extends "aws/aws_base.html" %} {% block nav_s3 %}active{% endblock %} {% block title
    %}iMonitor - RDS{% endblock %} {% block navTitle %}RDS{% endblock %} {% block
    content %}

    <!-- {{ response }} -->

    <div class="card text-center border-0 shadow-sm mb-4">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-nowrap mb-0 rounded table-hover" style="vertical-align: middle">
              <thead class="table-dark">
                <th class="border-0 rounded-start">DB Identifier</th>
                <th class="border-0">Engine</th>  
                <th class="border-0">Status</th> 
                <th class="border-0">Class</th> 
                <th class="border-0">Allocated Storage</th> 
                <th class="border-0 rounded-end">AvailabilityZone</th>  
              </thead>
      
              {%for bucket in response['DBInstances']%}
              <tr>               
                <td><a href="#" style="text-decoration:underline; color:#0dcaf0">{{bucket.DBInstanceIdentifier}}</a></td>
                <td>{{bucket.Engine}}</a></td>
                <td>{{bucket.DBInstanceStatus}}</a></td>
                <td>{{bucket.DBInstanceClass}}</a></td>
                <td>{{bucket.AllocatedStorage}} GB</td>
                <td>{{bucket.AvailabilityZone}}</a></td>
              </tr>
              {%endfor%}
            </table>
          </div>
        </div>
      </div>

    
    <div class="cointainer">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col-sm-3">
                <div class="card border-0 shadow-sm mb-4 px-1">
                  <img
                    src="data:image/png;base64,{{try_graph1}}"
                    alt="TRY GRAPH1"
                  />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0 shadow-sm mb-4 px-1">
                  <img
                    src="data:image/png;base64,{{try_graph2}}"
                    alt="TRY GRAPH2"
                  />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0 shadow-sm mb-4 px-1">
                <img
                    src="data:image/png;base64,{{rds_CPUUtilization}}"
                    alt="rds_CPUUtilization Graph"
                />
                </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-0 shadow-sm mb-4 px-1">
              <img src="data:image/png;base64,{{rds_DatabaseConnections}}" 
              alt="rds_DatabaseConnections Graph" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-0 shadow-sm mb-4 px-1">
              <img src="data:image/png;base64,{{rds_FreeStorageSpace}}" 
              alt="rds_FreeStorageSpace Graph" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-0 shadow-sm mb-4 px-1">
              <img src="data:image/png;base64,{{rds_FreeableMemory}}" 
              alt="rds_FreeableMemory Graph" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-0 shadow-sm mb-4 px-1">
              <img src="data:image/png;base64,{{rds_ReadIOPS}}" 
              alt="rds_ReadIOPS Graph" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-0 shadow-sm mb-4 px-1">
              <img
                src="data:image/png;base64,{{rds_WriteIOPS}}"
                alt="rds_WriteIOPS Graph"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-0 shadow-sm mb-4 px-1">
              <img
                src="data:image/png;base64,{{rds_ReadThroughput}}"
                alt="rds_ReadThroughput Graph"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-0 shadow-sm mb-4 px-1">
              <img
                src="data:image/png;base64,{{rds_WriteThroughput}}"
                alt="rds_WriteThroughput Graph"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-0 shadow-sm mb-4 px-1">
              <img
                src="data:image/png;base64,{{rds_ReadLatency}}"
                alt="rds_ReadLatency Graph"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-0 shadow-sm mb-4 px-1">
              <img
                src="data:image/png;base64,{{rds_WriteLatency}}"
                alt="rds_WriteLatency Graph"
              />
            </div>
          </div>
        </div>
      </div>




    
    {% endblock content %}
    