{% extends "base.html" %} 
{% block title %}iMonitor - EC2{% endblock %} 
{% block nav_ec2 %}active{% endblock %} 
{% block navTitle %}EC2{% endblock %} 
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success" role="alert">
  
    {% for message in messages %}
      {{ message }}<br>
    {% endfor %}
  
</div>
{% endif %}
{% endwith %}

<div class="container">
  <div class="row">
    <div class="col-sm-3" style="margin: 12px 0 12px 0">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Active Instances</h5>
          <h1 class="display-5">{{ active_instances }}</h1>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-3" style="margin: 12px 0 12px 0">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Total Instances</h5>
          <h1 class="display-4">{{ total_instances }}</h1>
        </div>
      </div>
    </div> -->
    <div class="col-sm-3" style="margin: 12px 0 12px 0">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Minimum Utilization</h5>
          {% for m in ec2_metrics: %}
          <h1 class="display-5">{{m.last_min}}%</h1>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="margin: 12px 0 12px 0">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Maximum Utilization</h5>
          {% for m in ec2_metrics: %}
          <h1 class="display-5">{{m.last_max}}%</h1>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="margin: 12px 0 12px 0">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Average Utilization</h5>
          {% for m in ec2_metrics: %}
          <h1 class="display-5">{{m.last_avg}}%</h1>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<!-- {{instances}} -->

<div class="row">
  <div class="col card" style="margin: 5px">
    <img src="data:image/png;base64,{{graphImage}}" alt="EC2 Graph" />
  </div>
  <div class="col card" style="margin: 5px">
    <img src="data:image/png;base64,{{graphImage}}" alt="EC2 Graph" />
  </div>
</div>



{{info}}

<div class="container-fluid mt-5">
  <table border="1" class="table text-center">
    <thead class="thead-light">
      <!-- <th>Instance Name</th> -->
      <th>Instance Id</th>
      <th>State</th>
      <th>Type</th>
      <th>Public IPv4</th>
      <th>AMI Id</th>
      <th>Launch time</th>
      <!-- <th>Availability Zone</th>   -->
    </thead>
    {%for instance in instances:%}
    <tr>
      <!-- <td>{{instance.tags['Value']}}</td>                 -->
      <td>{{instance.id}}</td>

      <td>
        <div class="btn-group dropend">
          <button
            type="button"
            class="btn btn-info dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{instance.state['Name']}}
          </button>
          <ul class="dropdown-menu">
            <li>
              <form action="{{ url_for('start_instance')}}" method="POST">
                <input type="hidden" name="instance" value="{{ instance.id }}">
                <button type="submit" class="dropdown-item">Start</button>
              </form>
            </li>
            <li>
              <form action="{{ url_for('stop_instance')}}" method="POST">
                <input type="hidden" name="instance" value="{{ instance.id }}">
                <button type="submit" class="dropdown-item">Stop</button>
              </form>
            </li>
          </ul>
        </div>
      </td>

      <td>{{instance.instance_type}}</td>
      <td>{{instance.public_ip_address}}</td>
      <td>{{instance.image.id}}</td>
      <td>{{instance.launch_time.strftime("%d-%m-%Y, %H:%M:%S")}}</td>
      <!-- <td>{{instance.availability_zone}}</td> -->
    </tr>
    {%endfor%}
  </table>
</div>

<h4>dashboard24HoursPerformanceChart - in imonitor fiverr app</h4>

{{ data }} 
{% endblock %}
