{% extends "aws/aws_base.html" %} {% block title %}iMonitor - EC2{% endblock %}
<!-- {% block nav_index %}active{% endblock %}  -->

{% block content %}

<h4 class="mt-2">Instance Id: {{instance.Instances[0]['InstanceId']}}</h4>

<hr class="mt-0" />

<div id="instancePage">
  <div class="card mb-2">
    <div class="card-body">
      <div class="row my-2">
        <!-- <h4>Instance Details</h4> -->
        <div class="col">
          <div>
            <h6>Instance Name</h6>
            <span>{{instance.Instances[0]['Tags'][0]['Value']}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <h6>AMI ID</h6>
            <span>{{instance.Instances[0]['ImageId']}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <h6>AMI Launch Index</h6>
            <span>{{instance.Instances[0]['AmiLaunchIndex']}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <h6>Instance State</h6>
            <span>{{instance.Instances[0]['State']['Name']}}</span>
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col">
          <div>
            <h6>Launch Time</h6>
            <span>{{instance.Instances[0]['LaunchTime']}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <h6>Key Pair Name</h6>
            <span>{{instance.Instances[0]['KeyName']}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <h6>Owner ID</h6>
            <span>{{instance['OwnerId']}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <h6>Monitoring</h6>
            <span>{{instance.Instances[0]['Monitoring']['State']}}</span>
          </div>
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <div>
            <h6>Platform</h6>
            <span>{{instance.Instances[0]['PlatformDetails']}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <h6>Virtualization Type</h6>
            <span>{{instance.Instances[0]['VirtualizationType']}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <h6>Number of vCPUs</h6>
            <span>{{instance.Instances[0]['CpuOptions']['CoreCount']}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <h6>Reservation</h6>
            <span>{{instance['ReservationId']}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-body p-0">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#security"
            >Security</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#networking"
            >Networking</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#storage">Storage</a>
        </li>
      </ul>

      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="security">
            <!-- <h4>Security</h4> -->
            <div class="row mt-2">
              <div class="col">
                <div>
                  <h6>Group Name:</h6>
                  <span
                    >{{instance.Instances[0]['NetworkInterfaces'][0]['Groups'][0]['GroupName']}}</span
                  >
                </div>
              </div>
              <div class="col">
                <div>
                  <h6>Group Id :</h6>
                  <span
                    >{{instance.Instances[0]['NetworkInterfaces'][0]['Groups'][0]['GroupId']}}</span
                  >
                </div>
              </div>
              <div class="col">
                <div>
                  <h6>IAM Role:</h6>
                  <span contenteditable="true"></span>
                </div>
              </div>
            </div>

            <hr class="mt-3" />

            <h6>Inbound Rules</h6>
            <div class="card text-center border-0 shadow-sm mb-2 p-0">
              <div class="card-body p-0">
                <div class="table-responsive table-wrapper">
                  <table
                    class="table table-nowrap mb-0 rounded table-hover"
                    style="vertical-align: middle"
                  >
                    <thead class="table-secondary">
                      <th class="border-0 border-secondary border-end rounded-start">Name</th>
                      <th class="border-0 border-secondary border-end">Security group rule ID</th>
                      <th class="border-0 border-secondary border-end">Port Range</th>
                      <th class="border-0 border-secondary border-end">Protocol</th>
                      <th class="border-0 border-secondary border-end">Source</th>
                      <th class="border-0 border-secondary border-end">Security Groups</th>
                      <th class="border-0 rounded-end">Description</th>
                    </thead>

                    <tr>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <hr class="my-3" />

            <h6>Outbound Rules</h6>
            <div class="card text-center border-0 shadow-sm mb-2 p-0">
              <div class="card-body p-0">
                <div class="table-responsive table-wrapper">
                  <table
                    class="table table-nowrap mb-0 rounded table-hover"
                    style="vertical-align: middle"
                  >
                    <thead class="table-secondary">
                      <th class="border-0 border-secondary border-end rounded-start">Name</th>
                      <th class="border-0 border-secondary border-end">Security group rule ID</th>
                      <th class="border-0 border-secondary border-end">Port Range</th>
                      <th class="border-0 border-secondary border-end">Protocol</th>
                      <th class="border-0 border-secondary border-end">Source</th>
                      <th class="border-0 border-secondary border-end">Security Groups</th>
                      <th class="border-0 rounded-end">Description</th>
                    </thead>
                    <tr>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                      <td><span>data</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="networking">
            <!-- <h4>Networking</h4> -->
            <div class="row mt-2">
              <div class="col">
                <div>
                  <h6>Public IPv4 address</h6>
                  <span
                    >{{instance.Instances[0]['NetworkInterfaces'][0]['PublicIp']}}</span
                  >
                </div>
              </div>
              <div class="col">
                <div>
                  <h6>Private IPv4 addresses</h6>
                  <span
                    >{{instance.Instances[0]['NetworkInterfaces'][0]['PrivateIpAddress']}}</span
                  >
                </div>
              </div>
              <div class="col">
                <div>
                  <h6>VPC ID</h6>
                  <span
                    >{{instance.Instances[0]['NetworkInterfaces'][0]['VpcId']}}</span
                  >
                </div>
              </div>
            </div>

            <div class="row my-3">
              <div class="col">
                <div>
                  <h6>Public IPv4 DNS</h6>
                  <span>{{instance.Instances[0]['PublicDnsName']}}</span>
                </div>
              </div>
              <div class="col">
                <div>
                  <h6>Private IP DNS name (IPv4 only)</h6>
                  <span
                    >{{instance.Instances[0]['NetworkInterfaces'][0]['PrivateDnsName']}}</span
                  >
                </div>
              </div>
              <div class="col">
                <div>
                  <h6>Subnet ID</h6>
                  <span
                    >{{instance.Instances[0]['NetworkInterfaces'][0]['SubnetId']}}</span
                  >
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col">
                <div>
                  <h6>Availability zone</h6>
                  <span
                    >{{instance.Instances[0]['Placement']['AvailabilityZone']}}</span
                  >
                </div>
              </div>
              <div class="col">
                <div>
                  <h6>Status</h6>
                  <span
                    >{{instance.Instances[0]['NetworkInterfaces'][0]['Status']}}</span
                  >
                </div>
              </div>
              <div class="col">
                <!-- <div>
                <h6>IPV6 addresses</h6>
                <span>{{instance.Instances[0]['NetworkInterfaces'][0]['Ipv6Addresses']}}</span>
              </div> -->
              </div>
            </div>

            <hr class="my-3" />

            <h6>Network Interfaces</h6>
            <div class="card text-center border-0 shadow-sm mb-3 p-0">
              <div class="card-body p-0">
                <div class="table-responsive table-wrapper">
                  <table
                    class="table table-nowrap mb-0 rounded table-hover"
                    style="vertical-align: middle"
                  >
                    <thead class="table-secondary">
                      <th class="border-0 rounded-start">Interface ID</th>
                      <th class="border-0">Description</th>
                      <th class="border-0">Public IPv4</th>
                      <th class="border-0">Private IPv4</th>
                      <th class="border-0">Private IPv4 DNS</th>
                      <th class="border-0">Attachment time</th>
                      <th class="border-0">Attachment status</th>
                      <th class="border-0">Interface owner</th>
                      <th class="border-0">VPC ID</th>
                      <th class="border-0">Subnet ID</th>
                      <th class="border-0">Delete on terminate</th>
                      <th class="border-0">Source/destination check</th>
                      <th class="border-0">Security groups</th>
                      <th class="border-0 rounded-end">Interface type</th>
                    </thead>

                    {%for ins in instance['Instances']:%}

                    <tr>
                      <td>
                        <span
                          >{{ins.NetworkInterfaces[0]['NetworkInterfaceId']}}</span
                        >
                      </td>
                      <td>
                        <span>{{ins.NetworkInterfaces[0]['Description']}}</span>
                      </td>
                      <td>
                        <span>{{ins.NetworkInterfaces[0]['PublicIp']}}</span>
                      </td>
                      <td>
                        <span
                          >{{ins.NetworkInterfaces[0]['PrivateIpAddress']}}</span
                        >
                      </td>
                      <td>
                        <span
                          >{{ins.NetworkInterfaces[0]['PrivateDnsName']}}</span
                        >
                      </td>
                      <td>
                        <span
                          >{{ins.NetworkInterfaces[0]['Attachment']['AttachTime']}}</span
                        >
                      </td>
                      <td>
                        <span
                          >{{ins.NetworkInterfaces[0]['Attachment']['Status']}}</span
                        >
                      </td>
                      <td>
                        <span>{{ins.NetworkInterfaces[0]['OwnerId']}}</span>
                      </td>
                      <td>
                        <span>{{ins.NetworkInterfaces[0]['VpcId']}}</span>
                      </td>
                      <td>
                        <span>{{ins.NetworkInterfaces[0]['SubnetId']}}</span>
                      </td>
                      <td>
                        <span
                          >{{ins.NetworkInterfaces[0]['Attachment']['DeleteOnTermination']}}</span
                        >
                      </td>
                      <td>
                        <span
                          >{{ins.NetworkInterfaces[0]['SourceDestCheck']}}</span
                        >
                      </td>
                      <td><span>{{ins.SecurityGroups[0]['GroupId']}}</span></td>
                      <td>
                        <span
                          >{{ins.NetworkInterfaces[0]['InterfaceType']}}</span
                        >
                      </td>
                    </tr>
                    {%endfor%}
                  </table>
                </div>
              </div>
            </div>

            <hr class="my-3" />

            <!-- <h6>Elastic IP addresses</h6>
          <div class="card text-center border-0 shadow-sm mb-3 p-0">
            <div class="card-body p-0">
              <div class="table-responsive table-wrapper">
                <table
                  class="table table-nowrap mb-0 rounded table-hover"
                  style="vertical-align: middle">
                  <thead class="table-secondary">
                    <th class="border-0 rounded-start">Name</th>
                    <th class="border-0">Allocated IPv4 address</th>
                    <th class="border-0">Type</th>
                    <th class="border-0">Address pool</th>
                    <th class="border-0 rounded-end">Allocation ID</th>
                  </thead>

                  <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                  </tr>
                  <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                  </tr>
                  <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> -->
          </div>

          <div class="tab-pane" id="storage">
            <!-- <h4>Storage</h4> -->
            <div class="row mt-2">
              <div class="col">
                <div>
                  <h6>Root device details</h6>
                  <span>{{instance.Instances[0]['RootDeviceName']}}</span>
                </div>
              </div>
              <div class="col">
                <div>
                  <h6>Root device type</h6>
                  <span>{{instance.Instances[0]['RootDeviceType']}}</span>
                </div>
              </div>
              <div class="col">
                <div>
                  <h6>EBS optimization</h6>
                  <span>{{instance.Instances[0]['EbsOptimized']}}</span>
                </div>
              </div>
            </div>

            <hr class="mt-3" />

            <h6>Block Devices</h6>
            <div class="card text-center border-0 shadow-sm mb-2 p-0">
              <div class="card-body p-0">
                <div class="table-responsive table-wrapper">
                  <table
                    class="table table-nowrap mb-0 rounded table-hover"
                    style="vertical-align: middle"
                  >
                    <thead class="table-secondary">
                      <th class="border-0 border-secondary border-end rounded-start">Volume ID</th>
                      <th class="border-0 border-secondary border-end">Device name</th>
                      <!-- <th class="border-0">Volume size (GiB)</th> -->
                      <th class="border-0 border-secondary border-end">Attachment status</th>
                      <th class="border-0 border-secondary border-end">Attachment time</th>
                      <!-- <th class="border-0">Encrypted</th> -->
                      <!-- <th class="border-0">KMS key ID</th> -->
                      <th class="border-0">Delete on termination</th>
                    </thead>
                    <tbody>
                      {%for ins in instance['Instances']:%}

                      <tr>
                        <td>
                          <span
                            >{{ins.BlockDeviceMappings[0]['Ebs']['VolumeId']}}</span
                          >
                        </td>
                        <td>
                          <span
                            >{{ins.BlockDeviceMappings[0]['DeviceName']}}</span
                          >
                        </td>
                        <td>
                          <span
                            >{{ins.BlockDeviceMappings[0]['Ebs']['Status']}}</span
                          >
                        </td>
                        <td>
                          <span
                            >{{ins.BlockDeviceMappings[0]['Ebs']['AttachTime']}}</span
                          >
                        </td>
                        <td>
                          <span
                            >{{ins.BlockDeviceMappings[0]['Ebs']['DeleteOnTermination']}}</span
                          >
                        </td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- <hr class="mt-3" />

          <h6>Recent root volume replacement tasks</h6>
          <div class="card text-center border-0 shadow-sm mb-2 p-0">
            <div class="card-body p-0">
              <div class="table-responsive table-wrapper">
                <table
                  class="table table-nowrap mb-0 rounded table-hover"
                  style="vertical-align: middle">
                  <thead class="table-secondary">
                    <th class="border-0 rounded-start">Task ID</th>
                    <th class="border-0">Task state</th>
                    <th class="border-0">Start time</th>
                    <th class="border-0">Completion time</th>
                    <th class="border-0 rounded-end">Tags</th>
                  </thead>
                  <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                  </tr>
                  <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                  </tr>
                  <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> -->
          </div>

          <!-- <div class="tab-pane" id="contact">
                    <div class="row border g-0 rounded shadow-sm">
                    <div class="col p-4">
                        <h3>Contact</h3>
                        <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of
                        type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                    <div class="col-auto">
                        <img src="images/contact.jpg" class="img-thumbnail dimension" />
                    </div>
                    </div>
                </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card mb-2">
    <div class="card-body">
      <nav class="navbar px-0" style="background: transparent !important">
        <div class="container-fluid px-0">
          <a class="navbar-brand"
            >Monitoring: {{instance.Instances[0]['InstanceId']}}</a
          >
          <a
            class="btn btn-light btn-outline-dark"
            href="{{ url_for('aws_ec2')}}"
            role="button"
          >
            <i class="bx bx-refresh bx-fw"></i> Refresh
          </a>
        </div>
      </nav>

      <div class="row row-cols-1 row-cols-md-3">
        <div class="col-sm-3">
          <div class="card border-1 shadow-sm mb-4 px-1">
            <img
              src="data:image/png;base64,{{ec2_CPUUtilization}}"
              alt="CPUUtilization Graph"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-1 shadow-sm mb-4 px-1">
            <img
              src="data:image/png;base64,{{ec2_DiskReadOps}}"
              alt="DiskReadOps Graph"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-1 shadow-sm mb-4 px-1">
            <img
              src="data:image/png;base64,{{ec2_DiskWriteOps}}"
              alt="DiskWriteOps Graph"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-1 shadow-sm mb-4 px-1">
            <img
              src="data:image/png;base64,{{ec2_NetworkIn}}"
              alt="NetworkIn Graph"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-1 shadow-sm mb-4 px-1">
            <img
              src="data:image/png;base64,{{ec2_NetworkOut}}"
              alt="NetworkOut Graph"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-1 shadow-sm mb-4 px-1">
            <img
              src="data:image/png;base64,{{ec2_CPUCreditUsage}}"
              alt="CPUCreditUsage Graph"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-1 shadow-sm mb-2 px-1">
            <img
              src="data:image/png;base64,{{ec2_CPUCreditBalance}}"
              alt="CPUCreditBalance Graph"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-1 shadow-sm mb-2 px-1">
            <img
              src="data:image/png;base64,{{ec2_DiskReadBytes}}"
              alt="DiskReadBytes Graph"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-1 shadow-sm mb-2 px-1">
            <img
              src="data:image/png;base64,{{ec2_DiskWriteBytes}}"
              alt="DiskWriteBytes Graph"
            />
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <hr />

  <nav class="navbar px-0" style="background: transparent !important">
    <div class="container-fluid px-0">
      <a class="navbar-brand"
        >Monitoring: {{instance.Instances[0]['InstanceId']}}</a
      >
      <a
        class="btn btn-light btn-outline-dark"
        href="{{ url_for('aws_ec2')}}"
        role="button"
      >
        <i class="bx bx-refresh bx-fw"></i> Refresh
      </a>
    </div>
  </nav>

  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-4 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="cu-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-4 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="dro-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-4 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="dwo-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-4 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="ni-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-4 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="no-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-4 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="ccu-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-4 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="ccb-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-4 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="drb-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-2 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="dwb-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-1 shadow-sm mb-2 px-1">
        <div class="card-body">
          <div class="chart-area p-1">
            <canvas id="scf-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  /*  // networkIn graph
    let dp_t_CU = JSON.parse({{ dp_time_CU | tojson }})
    let dp_a_CU = JSON.parse({{ dp_avg_CU | tojson}})

    new Chart(document.getElementById("CPUUtilizationGraph"), {
      type: "line",
      data:
      {
          labels: dp_t_CU,
          datasets: [{
              label: "CPU Utilization",

              data: dp_a_CU,
              fill: false,
              borderColor: "rgb(75, 192, 192)",
              lineTension: 0.1
          }]
      },
      options: {
        scales: {
          x: {
            grid: {
              display: false
            }
          },
          y: {
            grid: {
              display: false
            }
          }
        },
      }
    });  */


      // CPUUtilization graph
      let dp_t_CU = JSON.parse({{ dp_time_CU | tojson }})
      let dp_a_CU = JSON.parse({{ dp_avg_CU | tojson}})

      // DRO graph
      let dp_t_DRO = JSON.parse({{ dp_time_DRO | tojson }})
      let dp_a_DRO = JSON.parse({{ dp_avg_DRO | tojson}})

      // DWO graph
      let dp_t_DWO = JSON.parse({{ dp_time_DWO | tojson }})
      let dp_a_DWO = JSON.parse({{ dp_avg_DWO | tojson}})

      // NI graph
      let dp_t_NI = JSON.parse({{ dp_time_NI | tojson }})
      let dp_a_NI = JSON.parse({{ dp_avg_NI | tojson}})

      // NO graph
      let dp_t_NO = JSON.parse({{ dp_time_NO | tojson }})
      let dp_a_NO = JSON.parse({{ dp_avg_NO | tojson}})

      // CCU graph
      let dp_t_CCU = JSON.parse({{ dp_time_CCU | tojson }})
      let dp_a_CCU = JSON.parse({{ dp_avg_CCU | tojson}})

      // CCB graph
      let dp_t_CCB = JSON.parse({{ dp_time_CCB | tojson }})
      let dp_a_CCB = JSON.parse({{ dp_avg_CCB | tojson}})

      // DRB graph
      let dp_t_DRB = JSON.parse({{ dp_time_DRB | tojson }})
      let dp_a_DRB = JSON.parse({{ dp_avg_DRB | tojson}})

      // DWB graph
      let dp_t_DWB = JSON.parse({{ dp_time_DWB | tojson }})
      let dp_a_DWB = JSON.parse({{ dp_avg_DWB | tojson}})

      // StatusCheckFailed graph
      let dp_t_SCF = JSON.parse({{ dp_time_SCF | tojson }})
      let dp_a_SCF = JSON.parse({{ dp_avg_SCF | tojson}})

  //------------------------------------------------------------
  ec2_ins_graph(dp_t_CU, dp_a_CU, "CPU Utilization", "cu-chart")
  ec2_ins_graph(dp_t_DRO, dp_a_DRO, "Disk Read Ops", "dro-chart")
  ec2_ins_graph(dp_t_DWO, dp_a_DWO, "Disk Write Ops", "dwo-chart")
  ec2_ins_graph(dp_t_NI, dp_a_NI, "Network In", "ni-chart")
  ec2_ins_graph(dp_t_NO, dp_a_NO, "Network Out", "no-chart")
  ec2_ins_graph(dp_t_CCU, dp_a_CCU, "CPU Credit Utilization", "ccu-chart")
  ec2_ins_graph(dp_t_CCB, dp_a_CCB, "CPU Credit Balance", "ccb-chart")
  ec2_ins_graph(dp_t_DRB, dp_a_DRB, "Disk Read Bytes", "drb-chart")
  ec2_ins_graph(dp_t_DWB, dp_a_DWB, "Disk Write Bytes", "dwb-chart")
  ec2_ins_graph(dp_t_SCF, dp_a_SCF, "Status Check Failed", "scf-chart")
  //------------------------------------------------------------

  function ec2_ins_graph(dt, da, label, id) {

    // Set new default font family and font color
    (Chart.defaults.global.defaultFontFamily = "Nunito"),
    '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = "#858796";

    var chartData = {
      labels: dt,
      datasets: [{
        label: label,
        lineTension: 0.1,
        backgroundColor: "rgba(78, 115, 223, 0.05)",
        borderColor: "rgba(78, 115, 223, 1)",
        pointRadius: 2,
        pointBackgroundColor: "rgba(78, 115, 223, 1)",
        pointBorderColor: "rgba(78, 115, 223, 1)",
        pointHoverRadius: 3,
        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
        pointHitRadius: 10,
        pointBorderWidth: 2,

        data: da,

      }],
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0,
          },
        },
        legend: {
          display: false,
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: "#6e707e",
          titleFontSize: 14,
          borderColor: "#dddfeb",
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: "index",
          caretPadding: 10,
        },
      },
    };

    var ctx = document.getElementById(id).getContext("2d");

    var myChart = new Chart(ctx, {
      type: "line",
      data: chartData,

    });

  }
</script>

{% endblock %}
